<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8' />
  <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" type="image⁄x-icon" href="../assets/img/favicon/logo4.png">
<style>
  #registLodg {
	  margin-top: 80px;
	  margin-left: 400px;
	  width: 1500px;
	 
  }
  
  .form-control {
	  margin-bottom: 5px;
  }
  
  .selectcon {
	  margin-top: 20px;
  }
  
  .form-select {
	  margin-left: 20px;
  }
 
</style>
</head>
<body style="padding:30px;">
	<th:block th:replace="~{./include/layout::setContent(~{::#regist})}">
		
		
  <!-- calendar 태그 -->
  <div id='regist'>
    <div id='registLodg'>
		<div class="col-xl-6">
                  <!-- HTML5 Inputs -->
                  <div class="card mb-4">
                    <h4 class="card-header" style="padding-top: 50px;padding-bottom: 50px;">사장님의 숙소를 등록해주세요!</h4>
                    <div class="card-body">
						
					  <form name="actionForm" action="lodgregist" method="post" enctype="multipart/form-data">	
                      <div class="mb-3 row">
                        <label for="html5-text-input" class="col-md-2 col-form-label">숙소 이름 : </label>
                        <div class="col-md-10">
                          <input class="form-control" type="text" id="html5-text-input" name="lodg_name" placeholder="숙소명을 입력해주세요" required="required"> 
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-text-input" class="col-md-2 col-form-label">숙소 주소 : </label>
                        <div class="col-md-10">
                          <input class="form-control" type="text" id="sample6_postcode" placeholder="우편번호">
                          <input class="form-control" type="text" id="sample6_address" placeholder="주소" name="lodg_rg" required="required">
                          <input class="form-control" type="text" id="sample6_detailAddress" placeholder="상세주소" name="lodg_addr" required="required">
                          <input class="form-control" type="text" id="sample6_extraAddress" placeholder="참고항목">
                        </div>
                      </div>
                     
					  <input type="button" onclick="sample6_execDaumPostcode()" class="btn rounded-pill btn-danger" value="우편번호 찾기"><br>
					  
					  <div class="input-group col-md-10 selectcon">
						  <label for="inputGroupSelect02" class="form-label">숙소 형태 :</label>
                            <select class="form-select" id="inputGroupSelect02" style="margin-left: 20px;border-top-left-radius:-2; margin-bottom: 10px;" name = "lodg_type" required="required">
                              <option selected="">숙소 형태를 지정해주세요</option>
                              <option value="모텔">모텔</option>
                              <option value="호텔리조트">호텔리조트</option>
                              <option value="펜션">펜션</option>
                              <option value="게스트하우스">게스트하우스</option>
                              <option value="캠핑글램핑">캠핑글램핑</option>

                            </select>
                          </div>
					  <div class="mb-3 row">
                        <label for="html5-text-input" class="col-md-2 col-form-label">숙소 전화번호 : </label>
                        <div class="col-md-10">
                          <input class="form-control" type="text" id="html5-text-input" name="lodg_ph" placeholder="010-xxxx-xxxx" required="required" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}">
                        </div>
                      </div>
                      <div>
                        <label for="exampleFormControlTextarea1" class="form-label">숙소 설명</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 20px;" name="lodg_content" required="required"></textarea>
                      </div>
                      
                      <div class="mb-3">
                        <label for="formFile" class="form-label">숙소 대표 사진으로 등록될 이미지를 등록해주세요</label>
                        <input class="form-control" type="file" id="file" name="file" required="required">
                      </div>
                      
                      
                      <button type="submit" class="btn rounded-pill btn-danger" value="숙소 등록하기" style="margin-left: 280px;margin-top: 20px;"> 숙소 등록하기</button>
                      
                      </form>
                    </div>
                  </div>

                
		
	</div>
  </div>
  </th:block>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>

</body>
</html>