<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8' />
  <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" type="image⁄x-icon" href="../assets/img/favicon/logo4.png">
  <style>
	  #regist {
		  margin-top: 50px;
	  }
	  
	  .card-body {
    	padding: 2rem 1.5rem;
		}
		.img-part {
			padding-bottom: 0px;
		}
		
  </style>
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
   
</head>
<body style="padding:30px;">
	<th:block th:replace="~{./include/layout::setContent(~{::#regist})}">
		
		
		
		<div id = "regist">
			<!--hello?
			[[${vo.lodg_type}]]
			[[${vo.lodg_name}]]
			[[${vo.lodg_rg}]][[${vo.lodg_addr}]]
			[[${vo.lodg_ph}]]
			[[${vo.lodg_content}]]-->
		
			
	   <div class="card mb-4">
      <h5 class="card-header">숙소 정보</h5>
      <!-- Account -->
     
      
      <div class="card-body">
        <form name="updateForm "id="formAccountSettings" action="updatelodg" method="post" enctype="multipart/form-data">
			 <div class=" img-part" style="padding-bottom: 30px;">
			 <input type="hidden" name="lodg_num" th:value="${vo.lodg_num}">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
          <img th:src="@{/display?(filename=${vo.lodg_img_filename},filepath=${vo.lodg_img_filepath},uuid=${vo.lodg_img_uuid})}" alt="이미지" class="d-block rounded" height="200" width="200" id="uploadedAvatar">
          <div class="button-wrapper" style="margin-top: 155px; margin-bottom: 0; height: 41px;">
            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0" style="background-color: #ff385c; color: white;">
              <span class="d-none d-sm-block">숙소 대표사진 수정하기</span>
              <i class="bx bx-upload d-block d-sm-none"></i>
              <input type="file" id="upload" class="account-file-input" hidden="" name="file" accept="image/png, image/jpeg">
            </label>
            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">되돌리기</span>
            </button>

            <p class="text-muted mb-0"><!--Allowed JPG, GIF or PNG. Max size of 800K--></p>
          </div>
        </div>
      </div>
			<hr class="my-0" style="margin-top: 10px;margin-bottom: 10px;">
          <div class="row" style="margin-top: 20px;">
            <div class="mb-3 col-md-6">
              <label for="firstName" class="form-label">숙소명</label>
              <input class="form-control" type="text" id="firstName" name="lodg_name" th:value="${vo.lodg_name}" required="required">
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label" for="country">숙소타입</label>
              <select id="country" class="select2 form-select" name = "lodg_type" required="required">
               <option selected="">숙소 형태를 지정해주세요</option>
               <option value="모텔" th:selected="${vo.lodg_type}=='모텔'">모텔</option>
               <option value="호텔리조트" th:selected="${vo.lodg_type}=='호텔리조트'">호텔리조트</option>
               <option value="펜션" th:selected="${vo.lodg_type}=='펜션'">펜션</option>
               <option value="게스트하우스" th:selected="${vo.lodg_type}=='게스트하우스'">게스트하우스</option>
               <option value="캠핑글램핑" th:selected="${vo.lodg_type}=='캠핑글램핑'">캠핑글램핑</option> 
              </select>
            </div>
            
            <div class="mb-3 row">				
				<div class="mb-3 col-md-12">					
                    <label for="html5-text-input" class="col-md-2 col-form-label">숙소 주소 : </label>
                    
				</div>
                <div class="mb-3 col-md-6">										
                    <input class="form-control" type="text" id="sample6_postcode" placeholder="우편번호" style="width: 100%;">
                </div>
                <div class="mb-3 col-md-6">										
                    <input class="form-control" type="text" id="sample6_address" placeholder="주소" style="width: 100%;" name="lodg_rg" th:value="${vo.lodg_rg}" required="required">
                </div>
                <div class="mb-3 col-md-6">	
                    <input class="form-control" type="text" id="sample6_detailAddress" placeholder="상세주소"  style="width: 100%;" name="lodg_addr" th:value="${vo.lodg_addr}" required="required"> 
                </div>
                <div class="mb-3 col-md-6">	
                     <input class="form-control" type="text" id="sample6_extraAddress" placeholder="참고항목" style="width: 100%;">
                </div>
                <div class="mb-3 col-md-6">	
                <input type="button" onclick="sample6_execDaumPostcode()" class="btn rounded-pill btn-danger" value="우편번호 찾기" style="margin: 0 auto;" >
                </div>
            </div>
            
            <div class="mb-3 col-md-6">
              <label for="organization" class="form-label">숙소전화번호</label>
              <input type="text" class="form-control" id="organization" name="lodg_ph" th:value="${vo.lodg_ph}" required="required">
            </div>
            
            <div class="mb-3 col-md-6">
              <label for="address" class="form-label">숙소 설명</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-bottom: 20px;" name="lodg_content" required="required" >[[${vo.lodg_content}]]</textarea>
              <!--<input type="text" class="form-control" id="address" name="lodg_content" placeholder="Address" th:value="${vo.lodg_content}">-->
            </div>
            
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary me-2" style="background-color: #ff385c; color: white;">정보수정하기</button>
            <button type="reset" class="btn btn-outline-secondary">취소하기</button>
          </div>
        </form>
      </div>
      <!-- /Account -->
    </div>
    
	</div>
		
	</th:block>
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</body>
</html>