<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8' />
  <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" type="image⁄x-icon" href="../assets/img/favicon/logo4.png">
  <style>
	  #regist {
		  margin-top: 50px;
	  }
  </style>
</head>
<body style="padding:30px;">
	<th:block th:replace="~{./include/layout::setContent(~{::#regist})}">
		
		<div id = "regist">
			hello?
			[[${vo.lodg_type}]]
			[[${vo.lodg_name}]]
			[[${vo.lodg_rg}]][[${vo.lodg_addr}]]
			[[${vo.lodg_ph}]]
			[[${vo.lodg_content}]]
		</div>
		
	</th:block>
</body>
</html>