<!DOCTYPE html>



<body>
	<th:block th:replace="~{./include/layout::setContent(~{::.card})}">

		<div class="card mb-4">
			<hr class="my-5">
			<h5 class="card-header">예약 정보 수정</h5>
			<div class="card-body">
				<div class="mb-3 row">
					<label for="html5-text-input" class="col-md-2 col-form-label">예약자</label>
					<div class="col-md-10">
						<input class="form-control" type="text" th:value="${vo.res_name}" readonly id="html5-text-input" />
					</div>
				</div>
				<div class="mb-3 row">
					<label for="html5-search-input" class="col-md-2 col-form-label">전화번호</label>
					<div class="col-md-10">
						<input class="form-control" type="search" th:value="${vo.res_phone}" readonly id="html5-search-input" />
					</div>
				</div>
				<div class="mb-3 row">
					<label for="html5-date-input" class="col-md-2 col-form-label">입실 날짜</label>
					<div class="col-md-10">
						<input class="form-control" type="date" th:value="${vo.res_startdate}" id="html5-date-input" />
					</div>
				</div>
				<div class="mb-3 row">
					<label for="html5-date-input" class="col-md-2 col-form-label">퇴실 날짜</label>
					<div class="col-md-10">
						<input class="form-control" type="date" th:value="${vo.res_enddate}" id="html5-date-input" />
					</div>
				</div>
				<div class="mb-3 row">
					<label for="html5-price-input" class="col-md-2 col-form-label">총 가격</label>
					<div class="col-md-10">
						<input class="form-control" type="tel" th:value="${vo.res_price}" id="html5-price-input" />
					</div>
				</div>
				<div class="mb-3 row">
					<label for="html5-users-input" class="col-md-2 col-form-label">이용자 수</label>
					<div class="col-md-10">
						<input class="form-control" type="text" th:value="${vo.res_users}" id="html5-users-input" />
					</div>
				</div>
				<div class="mb-3 row">
					<label for="html5-userid-input" class="col-md-2 col-form-label">회원 아이디</label>
					<div class="col-md-10">
						<input class="form-control" type="text" th:value="${vo.user_id}" readonly id="html5-userid-input" />
					</div>
				</div>
				<div class="mb-3 row">
					<label for="html5-roomnum-input" class="col-md-2 col-form-label">객실 번호</label>
					<div class="col-md-10">
						<input class="form-control" type="text" th:value="${vo.room_num}+호" id="html5-roomnum-input" />
					</div>
				</div>
				
				<div class="mb-3">
					<label for="formFileMultiple" class="form-label">이미지 선택</label>
					<input class="form-control" type="file" id="formFileMultiple" multiple />
				</div>
				<button type="button" class="btn btn-dark">수정하기</button>
			</div>
		</div>
	</th:block>

</body>

</html>