<!DOCTYPE html>
<html>

<body>
	<th:block th:replace="~{./include/layout::setContent(~{::.card})}">
		<!-- Striped Rows -->
		<div class="card">
		<hr class="my-5">
			<h5 class="card-header">예약 상세 정보</h5>
			<div class="table-responsive text-nowrap">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>예약자</th> 
							<th>전화번호</th>
							<th>입실</th>
							<th>퇴실</th>
							<th>총 가격</th>
							<th>이용자 수</th>
							<th>회원 아이디</th>
							<th>객실 번호</th> <!-- 8개 -->
							<th>비고</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<tr>
							<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>김민철</strong>
							</td>
							<td>010-1234-1234</td>
							<td>2023-08-11</td>
							<td>2023-08-15</td>
							<td>180,000 원</td>
							<td>2명</td>
							<td>asd123</td>
							<td>307 호</td>
							<td>
								<div class="dropdown">
									<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
										data-bs-toggle="dropdown">
										<i class="bx bx-dots-vertical-rounded"></i>
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:void(0);"><i
												class="bx bx-edit-alt me-1"></i> 변경하기</a>
										<a class="dropdown-item" href="javascript:void(0);"><i
												class="bx bx-trash me-1"></i> 취소하기</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>김민철</strong>
							</td>
							<td>010-1234-1234</td>
							<td>2023-08-11</td>
							<td>2023-08-15</td>
							<td>180,000 원</td>
							<td>2명</td>
							<td>asd123</td>
							<td>307 호</td>
							<td>
								<div class="dropdown">
									<button type="button" class="btn p-0 dropdown-toggle hide-arrow"
										data-bs-toggle="dropdown">
										<i class="bx bx-dots-vertical-rounded"></i>
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="javascript:void(0);"><i
												class="bx bx-edit-alt me-1"></i>변경하기</a>
										<a class="dropdown-item" href="javascript:void(0);"><i
												class="bx bx-trash me-1"></i>취소하기</a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--/ Striped Rows -->

	</th:block>
</body>

</html>