<!DOCTYPE html>



<body>
	<th:block th:replace="~{./include/layout::setContent(~{::.card})}">

		<div class="card mb-4">
			<hr class="my-5">
			<h5 class="card-header">예약 정보 수정</h5>
			<form action="modifyReserv" method="post">
				<input type="hidden"  name="res_num" th:value="${vo.res_num}">
				<div class="card-body">
					<div class="mb-3 row">
						<label for="html5-res_name-input" class="col-md-2 col-form-label">숙소 이름</label>
						<div class="col-md-10">
							<input class="form-control" name="res_name" type="text" th:value="${vo.lodg_name}" readonly
								id="html5-res_name-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-res_name-input" class="col-md-2 col-form-label">예약자</label>
						<div class="col-md-10">
							<input class="form-control" name="res_name" type="text" th:value="${vo.res_name}" readonly
								id="html5-res_name-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-res_phone-input" class="col-md-2 col-form-label">전화번호</label>
						<div class="col-md-10">
							<input class="form-control" name="res_phone" type="search" th:value="${vo.res_phone}" readonly
								id="html5-res_phone-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-res_startdate-input" class="col-md-2 col-form-label">입실 날짜</label>
						<div class="col-md-10">
							<input class="form-control" name="res_startdate" type="date" th:value="${vo.res_startdate}"
								id="html5-res_startdate-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-res_enddate-input" class="col-md-2 col-form-label">퇴실 날짜</label>
						<div class="col-md-10">
							<input class="form-control" name="res_enddate" type="date" th:value="${vo.res_enddate}"
								id="html5-res_enddate-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-res_price-input" class="col-md-2 col-form-label">총 가격</label>
						<div class="col-md-10">
							<input class="form-control" name="res_price" type="tel" th:value="${vo.res_price}" id="html5-res_price-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-res_users-input" class="col-md-2 col-form-label">이용자 수</label>
						<div class="col-md-10">
							<input class="form-control" name="res_users" type="text" th:value="${vo.res_users}" id="html5-res_users-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-userid-input" class="col-md-2 col-form-label">회원 아이디</label>
						<div class="col-md-10">
							<input class="form-control" name="user_id" type="text" th:value="${vo.user_id}" readonly
								id="html5-userid-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-room_name-input" class="col-md-2 col-form-label">객실 이름</label>
						<div class="col-md-10">
							<input class="form-control" readonly name="room_name" type="text" th:value="${vo.room_name}"
								id="html5-room_name-input" />
						</div>
					</div>
					<div class="mb-3 row">
						<label for="html5-room_num-input" class="col-md-2 col-form-label">객실 번호</label>
						<div class="col-md-10">
							<!--<input class="form-control" name="room_num" type="text" th:value="${vo.room_num}"
								id="html5-room_num-input" />-->
								<select id="selectTypeOpt" name="searchName" class="form-select color-dropdown">
									<option th:each="num:${number}">[[${num.room_num}]]</option>
								</select>	
						</div>
					</div>
					<button type="submit" class="btn btn-dark">수정하기</button>
				</div>
			</form>
		</div>
	</th:block>

</body>

</html>