<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ddu.pro.service.ReservationMapper">
  	<!-- 예약현황 전체 뽑기(페이징) -->
	<select id="getReserv">
		select * from reservation res
		join room ro
		on res.room_num = ro.room_num
		join lodgment l
		on ro.lodg_num = l.lodg_num
		where res.bn_id = #{bn_id}
		<if test="cri.searchName !=null and cri.searchName!=''">
		and res_name like concat ('%',#{cri.searchName},'%')
		</if>
		<if test="cri.searchPhone !=null and cri.searchPhone!=''">
		and res_phone like concat ('%',#{cri.searchPhone},'%')
		</if>
		<if test="cri.searchId !=null and cri.searchId!=''">
		and user_id like concat ('%',#{cri.searchId},'%')
		</if>
		<if test="cri.searchRoomnum !=null and cri.searchRoomnum !=''">
		and room_num like concat ('%',#{cri.searchRoomnum},'%')
		</if>
		order by res.res_num desc
		limit #{cri.pageStart}, #{cri.amount}
	</select>
	<!-- 예약현황 전체 뽑기(달력) -->
	<select id="getReservAll">
		select res.*, ro.room_name from reservation res
		join room ro
		on res.room_num = ro.room_num
		where bn_id = #{bn_id} 
	</select>
	
	<!-- 사업자 아이디에 맞게 데이터 총 갯수 뽑기 -->
	<select id="getTotal">
		select count(*) as total from reservation where bn_id = #{bn_id}
	</select>
	
	
	<!-- 예약현황 자세히 보기 -->
	<select id="getDetailRes">
		select res.*, ro.room_name, lo.lodg_name, lo.lodg_num from reservation res
		join room ro
		on res.room_num = ro.room_num
		join lodgment lo
		on ro.lodg_num = lo.lodg_num 
		where res.room_num = #{room_num} and res.res_num = #{res_num}
	</select>
	<!-- 예약 수정 -->
	<update id="updateReserv">
		update reservation set 
			res_startdate = #{res_startdate},
			res_enddate = #{res_enddate},
			res_price = #{res_price},
			res_users = #{res_users},
			room_num = #{room_num}
			 where res_num = #{res_num}
	</update>
	<!-- 예약 삭제 -->
	<delete id="deleteReserv">
		delete from reservation where res_num = #{res_num}
	</delete>
	
	<!-- 숙소에 따른 객실 번호 출력 -->
	<select id="getRoomnum">
		select lo.lodg_num, ro.room_num from lodgment lo
		join room ro
		on ro.lodg_num = lo.lodg_num
		where lo.lodg_num = #{lodg_num};
	</select>
  </mapper>